@charset "utf-8";
/* CSS Document */
#dote {
position: absolute; 
margin-left: 315px;
margin-top: 570px;	
}
#dote1 {
width: 10px;
height: 10px;
background-color: #B5D5FB;
position: absolute;
border-radius: 2px;
margin-left: 0px;
margin-top: 10px;
-webkit-animation: dote1 2s infinite linear;	
}
@-webkit-keyframes dote1 {
0% {background-color: #B5D5FB;}
49% {background-color: #B5D5FB;}
50% {background-color: #9BB4D9;}
99% {background-color: #9BB4D9;}
100% {background-color: #B5D5FB;}	
}
#dote2 {
width: 10px;
height: 10px;
background-color: #B5D5FB;
position: absolute;
border-radius: 2px;
margin-left: 20px;
margin-top: 10px;	
-webkit-animation: dote2 1.2s infinite linear;	
}
@-webkit-keyframes dote2 {
0% {background-color: #B5D5FB;}
49% {background-color: #B5D5FB;}
50% {background-color: #9BB4D9;}
99% {background-color: #9BB4D9;}
100% {background-color: #B5D5FB;}	
}
#dote3 {
width: 10px;
height: 10px;
background-color: #B5D5FB;
position: absolute;
border-radius: 2px;
margin-left: 40px;
margin-top: 10px;	
-webkit-animation: dote3 2s infinite linear;	
}
@-webkit-keyframes dote3 {
0% {background-color: #B5D5FB;}
49% {background-color: #B5D5FB;}
50% {background-color: #9BB4D9;}
99% {background-color: #9BB4D9;}
100% {background-color: #B5D5FB;}	
}
#dote4 {
width: 10px;
height: 10px;
background-color: #B5D5FB;
position: absolute;
border-radius: 2px;
margin-left: 60px;
margin-top: 10px;	
-webkit-animation: dote4 0.5s infinite linear;	
}
@-webkit-keyframes dote4 {
0% {background-color: #B5D5FB;}
49% {background-color: #B5D5FB;}
50% {background-color: #9BB4D9;}
99% {background-color: #9BB4D9;}
100% {background-color: #B5D5FB;}	
}
#dote5 {
width: 10px;
height: 10px;
background-color: #B5D5FB;
position: absolute;
border-radius: 2px;
margin-left: 80px;
margin-top: 10px;	
-webkit-animation: dote5 0.1s infinite linear;	
}
@-webkit-keyframes dote5 {
0% {background-color: #B5D5FB;}
49% {background-color: #B5D5FB;}
50% {background-color: #9BB4D9;}
99% {background-color: #9BB4D9;}
100% {background-color: #B5D5FB;}	
}
#dote6 {
width: 10px;
height: 10px;
background-color: #4A7E9D;
position: absolute;
border-radius: 2px;
margin-left: 100px;
margin-top: 10px;	
-webkit-animation: dote6 0.3s infinite linear;	
}
@-webkit-keyframes dote6 {
0% {background-color: #4A7E9D;}
49% {background-color: #4A7E9D;}
50% {background-color: #B5D5FB;}
99% {background-color: #B5D5FB;}
100% {background-color: #4A7E9D;}	
}
#dote7 {
width: 10px;
height: 10px;
background-color: #B5D5FB;
position: absolute;
border-radius: 2px;
margin-left: 0px;
margin-top: -10px;	
-webkit-animation: dote7 1s infinite linear;	
}
@-webkit-keyframes dote7 {
0% {background-color: #B5D5FB;}
49% {background-color: #B5D5FB;}
50% {background-color: #5B95C4;}
99% {background-color: #5B95C4;}
100% {background-color: #B5D5FB;}	
}
#dote8 {
width: 10px;
height: 10px;
background-color: #B5D5FB;
position: absolute;
border-radius: 2px;
margin-left: 20px;
margin-top: -10px;	
-webkit-animation: dote8 .2s infinite linear;	
}
@-webkit-keyframes dote8 {
0% {background-color: #B5D5FB;}
49% {background-color: #B5D5FB;}
50% {background-color: #9BB4D9;}
99% {background-color: #9BB4D9;}
100% {background-color: #B5D5FB;}	
}
#dote9 {
width: 10px;
height: 10px;
background-color: #B5D5FB;
position: absolute;
border-radius: 2px;
margin-left: 40px;
margin-top: -10px;	
-webkit-animation: dote9 2s infinite linear;	
}
@-webkit-keyframes dote9 {
0% {background-color: #B5D5FB;}
49% {background-color: #B5D5FB;}
50% {background-color: #9BB4D9;}
99% {background-color: #9BB4D9;}
100% {background-color: #B5D5FB;}	
}
#dote10 {
width: 10px;
height: 10px;
background-color: #B5D5FB;
position: absolute;
border-radius: 2px;
margin-left: 60px;
margin-top: -10px;	
-webkit-animation: dote10 0.5s infinite linear;	
}
@-webkit-keyframes dote10 {
0% {background-color: #B5D5FB;}
49% {background-color: #B5D5FB;}
50% {background-color: #3E97C1;}
99% {background-color: #3E97C1;}
100% {background-color: #B5D5FB;}	
}
#dote11 {
width: 10px;
height: 10px;
background-color: #4A7E9D;
position: absolute;
border-radius: 2px;
margin-left: 80px;
margin-top: -10px;	
-webkit-animation: dote11 1s infinite linear;	
}
@-webkit-keyframes dote11 {
0% {background-color: #4A7E9D;}
49% {background-color: #4A7E9D;}
50% {background-color: #B5D5FB;}
99% {background-color: #B5D5FB;}
100% {background-color: #4A7E9D;}	
}
#dote12 {
width: 10px;
height: 10px;
background-color: #B5D5FB;
position: absolute;
border-radius: 2px;
margin-left: 0px;
margin-top: -30px;	
-webkit-animation: dote12 0.7s infinite linear;	
}
@-webkit-keyframes dote12 {
0% {background-color: #B5D5FB;}
49% {background-color: #B5D5FB;}
50% {background-color: #9BB4D9;}
99% {background-color: #9BB4D9;}
100% {background-color: #B5D5FB;}	
}
#dote13 {
width: 10px;
height: 10px;
background-color: #B5D5FB;
position: absolute;
border-radius: 2px;
margin-left: 20px;
margin-top: -30px;	
-webkit-animation: dote13 3s infinite linear;	
}
@-webkit-keyframes dote13 {
0% {background-color: #B5D5FB;}
49% {background-color: #B5D5FB;}
50% {background-color: #9BB4D9;}
99% {background-color: #9BB4D9;}
100% {background-color: #B5D5FB;}	
}
#dote14 {
width: 10px;
height: 10px;
background-color: #4A7E9D;
position: absolute;
border-radius: 2px;
margin-left: 40px;
margin-top: -30px;	
-webkit-animation: dote14 0.5s infinite linear;	
}
@-webkit-keyframes dote14 {
0% {background-color: #4A7E9D;}
49% {background-color: #4A7E9D;}
50% {background-color: #B9C1EC;}
99% {background-color: #B9C1EC;}
100% {background-color: #4A7E9D;}	
}
#dote15 {
width: 10px;
height: 10px;
background-color: #B5D5FB;
position: absolute;
border-radius: 2px;
margin-left: 60px;
margin-top: -30px;	
-webkit-animation: dote15 0.8s infinite linear;	
}
@-webkit-keyframes dote15 {
0% {background-color: #B5D5FB;}
49% {background-color: #B5D5FB;}
50% {background-color: #9BB4D9;}
99% {background-color: #9BB4D9;}
100% {background-color: #B5D5FB;}	
}
#dote16 {
width: 10px;
height: 10px;
background-color: #B5D5FB;
position: absolute;
border-radius: 2px;
margin-left: 0px;
margin-top: -50px;	
-webkit-animation: dote16 2s infinite linear;	
}
@-webkit-keyframes dote16 {
0% {background-color: #B5D5FB;}
49% {background-color: #B5D5FB;}
50% {background-color: #9BB4D9;}
99% {background-color: #9BB4D9;}
100% {background-color: #B5D5FB;}	
}
#dote17 {
width: 10px;
height: 10px;
background-color: #B5D5FB;
position: absolute;
border-radius: 2px;
margin-left: 20px;
margin-top: -50px;	
-webkit-animation: dote17 0.1s infinite linear;	
}
@-webkit-keyframes dote17 {
0% {background-color: #B5D5FB;}
49% {background-color: #B5D5FB;}
50% {background-color: #4A7E9D;}
99% {background-color: #4A7E9D;}
100% {background-color: #B5D5FB;}	
}
#dote18 {
width: 10px;
height: 10px;
background-color: #4A7E9D;
position: absolute;
border-radius: 2px;
margin-left: 40px;
margin-top: -50px;	
-webkit-animation: dote18 1.5s infinite linear;	
}
@-webkit-keyframes dote18 {
0% {background-color: #4A7E9D;}
49% {background-color: #4A7E9D;}
50% {background-color: #B5D5FB;}
99% {background-color: #B5D5FB;}
100% {background-color: #4A7E9D;}	
}
#dote19 {
width: 10px;
height: 10px;
background-color: #B5D5FB;
position: absolute;
border-radius: 2px;
margin-left: 0px;
margin-top: -70px;	
-webkit-animation: dote19 0.2s infinite linear;	
}
@-webkit-keyframes dote19 {
0% {background-color: #B5D5FB;}
49% {background-color: #B5D5FB;}
50% {background-color: #9BB4D9;}
99% {background-color: #9BB4D9;}
100% {background-color: #B5D5FB;}	
}
#dote20 {
width: 10px;
height: 10px;
background-color: #4A7E9D;
position: absolute;
border-radius: 2px;
margin-left: 20px;
margin-top: -70px;	
-webkit-animation: dote20 0.4s infinite linear;	
}
@-webkit-keyframes dote20 {
0% {background-color: #B5D5FB;}
49% {background-color: #B5D5FB;}
50% {background-color: #9BB4D9;}
99% {background-color: #9BB4D9;}
100% {background-color: #B5D5FB;}	
}
#dote21 {
width: 10px;
height: 10px;
background-color: #4A7E9D;
position: absolute;
border-radius: 2px;
margin-left: 0px;
margin-top: -90px;	
-webkit-animation: dote21 0.8s infinite linear;	
}
@-webkit-keyframes dote21 {
0% {background-color: #4A7E9D;}
49% {background-color: #4A7E9D;}
50% {background-color: #B5D5FB;}
99% {background-color: #B5D5FB;}
100% {background-color: #4A7E9D;}	
}
#server {
position: absolute;	
margin-top: 630px;
margin-left: 1225px;
}
#server h1 {
font-size: 10px;
position:absolute;
margin-left: -160px;
width: 200px;	
color: #E2F5FC;
}
#server h2 {
font-size: 10px;
position:absolute;
margin-left: -160px;
margin-top: 15px;
width: 200px;	
color: #E2F5FC;
}
.s1 {
position: absolute;
width: 10px;
height: 10px;
background-color: #244884;	
border-radius: 20px;
-webkit-animation: s1 1s infinite linear;
}
@-webkit-keyframes s1 {
0% {background-color: #244884;	}
49% {background-color: #244884;	}
50% {background-color: #8EC0E6;	}
99% {background-color: #8EC0E6}
100% {background-color: #244884;	}	
}
.s2 {
position: absolute;
width: 10px;
height: 10px;
background-color: #244884;	
border-radius: 20px;
margin-left: 15px;
-webkit-animation: s2 .1s infinite linear;
}
@-webkit-keyframes s2 {
0% {background-color: #8EC0E6;	}
49% {background-color: #8EC0E6;	}
50% {background-color: #244884;	}
99% {background-color: #244884}
100% {background-color: #8EC0E6;	}	
}
.s3 {
position: absolute;
width: 10px;
height: 10px;
background-color: #244884;	
border-radius: 20px;
margin-left: 30px;	
-webkit-animation: s3 .5s infinite linear;
}
@-webkit-keyframes s3 {
0% {background-color: #8EC0E6;	}
49% {background-color: #8EC0E6;	}
50% {background-color: #244884;	}
99% {background-color: #244884}
100% {background-color: #8EC0E6;	}	
}
.s4 {
position: absolute;
width: 10px;
height: 10px;
background-color: #244884;	
border-radius: 20px;
margin-left: 45px;
-webkit-animation: s1 1s infinite linear;
}
@-webkit-keyframes s1 {
0% {background-color: #244884;	}
49% {background-color: #244884;	}
50% {background-color: #8EC0E6;	}
99% {background-color: #8EC0E6}
100% {background-color: #244884;	}	
}
.s5 {
position: absolute;
width: 10px;
height: 10px;
background-color: #244884;	
border-radius: 20px;
margin-left: 60px;
-webkit-animation: s5 1.5s infinite linear;
}
@-webkit-keyframes s5 {
0% {background-color: #8EC0E6;	}
49% {background-color: #8EC0E6;	}
50% {background-color: #244884;	}
99% {background-color: #244884}
100% {background-color: #8EC0E6;	}	
}
.s6 {
position: absolute;
width: 10px;
height: 10px;
background-color: #244884;	
border-radius: 20px;
margin-left: 75px;	
-webkit-animation: s2 .1s infinite linear;
}
@-webkit-keyframes s2 {
0% {background-color: #8EC0E6;	}
49% {background-color: #8EC0E6;	}
50% {background-color: #244884;	}
99% {background-color: #244884}
100% {background-color: #8EC0E6;	}	
}
.s7 {
position: absolute;
width: 10px;
height: 10px;
background-color: #244884;	
border-radius: 20px;
margin-top: 15px;
-webkit-animation: s3 .5s infinite linear;
}
@-webkit-keyframes s3 {
0% {background-color: #8EC0E6;	}
49% {background-color: #8EC0E6;	}
50% {background-color: #244884;	}
99% {background-color: #244884}
100% {background-color: #8EC0E6;	}	
}
.s8 {
position: absolute;
width: 10px;
height: 10px;
background-color: #244884;	
border-radius: 20px;
margin-left: 15px;
margin-top: 15px;
-webkit-animation: s5 1.5s infinite linear;
}
@-webkit-keyframes s5 {
0% {background-color: #8EC0E6;	}
49% {background-color: #8EC0E6;	}
50% {background-color: #244884;	}
99% {background-color: #244884}
100% {background-color: #8EC0E6;	}	
}
.s9 {
position: absolute;
width: 10px;
height: 10px;
background-color: #244884;	
border-radius: 20px;
margin-left: 30px;
margin-top: 15px;	
-webkit-animation: s2 .1s infinite linear;
}
@-webkit-keyframes s2 {
0% {background-color: #8EC0E6;	}
49% {background-color: #8EC0E6;	}
50% {background-color: #244884;	}
99% {background-color: #244884}
100% {background-color: #8EC0E6;	}	
}
.s10 {
position: absolute;
width: 10px;
height: 10px;
background-color: #244884;	
border-radius: 20px;
margin-left: 45px;
margin-top: 15px;
-webkit-animation: s3 .5s infinite linear;
}
@-webkit-keyframes s3 {
0% {background-color: #8EC0E6;	}
49% {background-color: #8EC0E6;	}
50% {background-color: #244884;	}
99% {background-color: #244884}
100% {background-color: #8EC0E6;	}	
}
.s11 {
position: absolute;
width: 10px;
height: 10px;
background-color: #244884;	
border-radius: 20px;
margin-left: 60px;
margin-top: 15px;
-webkit-animation: s1 1s infinite linear;
}
@-webkit-keyframes s1 {
0% {background-color: #244884;	}
49% {background-color: #244884;	}
50% {background-color: #8EC0E6;	}
99% {background-color: #8EC0E6}
100% {background-color: #244884;	}	
}
.s12 {
position: absolute;
width: 10px;
height: 10px;
background-color: #244884;	
border-radius: 20px;
margin-left: 75px;	
margin-top: 15px;
-webkit-animation: s5 1.5s infinite linear;
}
@-webkit-keyframes s5 {
0% {background-color: #8EC0E6;	}
49% {background-color: #8EC0E6;	}
50% {background-color: #244884;	}
99% {background-color: #244884}
100% {background-color: #8EC0E6;	}	
}