@charset "utf-8";
/* CSS Document */
* {
margin: 0px;
text-decoration: none;	
}
body {
background-color: #252525;	
}
#logo {
position: absolute;	
margin-left: 300px;
margin-top: 150px;
}
#big-cir {
position: absolute;
width: 200px;
height: 200px;
border-radius: 10em;
box-shadow: 0 0 5px #525252;
background-color: #fff;	
-webkit-transform: scale(1);
-webkit-animation: big-cir 1s ease-in, smalling 5s forwards;
}
@-webkit-keyframes big-cir {
0% {-webkit-transform: scale(0.1);}
40% {-webkit-transform: scale(1);}	
50% {-webkit-transform: scale(0.9);}	
60% {-webkit-transform: scale(1);}
100% {-webkit-transform: scale(1);}
}
@-webkit-keyframes smalling {
0% {-webkit-transform: scale(1);}
50% {-webkit-transform: scale(1);}
90% {-webkit-transform: scale(1);}
98% {-webkit-transform: scale(1.1);}
100% {-webkit-transform: scale(0);}	
}
#small-cir {
position: absolute;
width: 30px;
height: 30px;
border-radius: 5em;
background-color: #000;
margin: 85px;	
-webkit-animation: small-cir 2s ease-in,smalling2 3s forwards;
}
@-webkit-keyframes small-cir {
0% {-webkit-transform: scale(0.1);}
50% {-webkit-transform: scale(0.1);}
60% {-webkit-transform: scale(1);}
65% {-webkit-transform: scale(0.8);}
70% {-webkit-transform: scale(1);}
100% {-webkit-transform: scale(1);}	
}
@-webkit-keyframes smalling2 {
0% {-webkit-transform: scale(1);}
50% {-webkit-transform: scale(1);}
90% {-webkit-transform: scale(1);}
98% {-webkit-transform: scale(1.1);}
100% {-webkit-transform: scale(0);}	
}
#line {
position: absolute;
margin: 97px;
width: 5px;
height:150px;
background-color: #000;	
margin-top: 23px;
-webkit-transform: scaleY(1);
-webkit-animation: line 2s, rotate 4s forwards;
}
@-webkit-keyframes line {
0% {-webkit-transform: scaleY(0);}
80% {-webkit-transform: scaleY(0);}
100% {-webkit-transform: scaleY(1);}	
}
@-webkit-keyframes rotate {
0% {-webkit-transform: rotate(0deg);opacity: 1;}
90% {opacity: 1;}
100% {-webkit-transform: rotate(1000deg);opacity: 0;}	
}
#inside-cir {
position: absolute;
width: 150px;
height: 150px;
border: 20px solid #fff;
border-top: 20px solid #000;
border-bottom: 20px solid #000;
margin: 5px;
border-radius: 10em;	
-webkit-transform: scale(0);
-webkit-animation: line 2s, rotate 4s;
}
#logo-text {
overflow: hidden;
position: absolute;
width: 10px;
height: 180px;
background-color: #fff;
border-radius: 10px;
-webkit-transform: scale(0);
margin-left: 100px;
margin-top: 10px;
-webkit-animation: logo-text 3s forwards;
}
@-webkit-keyframes logo-text {
0% {width: 10px;-webkit-transform: scale(0);}
80% {width: 10px;-webkit-transform: scale(1);}
100% {width: 500px;-webkit-transform: scale(1);}	
}
#logo-text h1 {
position: absolute;
color: #000;
font-family: Arial;
margin-left: 100px;
margin-top: 50px;	
}
#go {
position: absolute;	
margin-top: 160px;
margin-left: 350px;
-webkit-animation: go 4s forwards;
}
#go a {
text-decoration: none;
color: #000;
font-size: 20px;
font-family: Arial;
font-weight: 200;	
}
#go a:hover {
text-decoration: underline;	
}
@-webkit-keyframes go {
0% {opacity: 0.000001;}
90% {opacity: 0.00001;}
100% {opacity: 1;}	
}